@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar-admin {
  padding: 20px;

  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar-admin h1 {
  color: #85a3e4;
  margin-left: 60px;
}
.navbar-admin .links {
  margin-top: 60px;
  margin-left: 130px;
}
.navbar-admin a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar-admin a:hover {
  color: #85a3e4;
}


/* create new course form */
 .create, .course-list, .notifications{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label, .notifications label {
  text-align: left;
  display: block;
}
.create h2, .notifications h2 {
  margin-top: 30px;
  font-size: 20px;
  color:#85a3e4;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select,  .notifications textarea, .notifications select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button, .notifications button {
  background: #7fb2cf;
  background-image: -webkit-linear-gradient(top, #7fb2cf, #69afdb);
  background-image: -moz-linear-gradient(top, #7fb2cf, #69afdb);
  background-image: -ms-linear-gradient(top, #7fb2cf, #69afdb);
  background-image: -o-linear-gradient(top, #7fb2cf, #69afdb);
  background-image: linear-gradient(to bottom, #7fb2cf, #69afdb);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 7px 16px 8px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
} 

.create button, .notifications button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.add-course-button{
 
  align-items: center;
  margin-top: 20px;
  
}

.all-courses{
  margin-top: 20px;
  text-align: left;
  color:#3d5970;
}

/* course previews / list */

.course-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.course-preview:hover {
  box-shadow: 3px 5px 5px  rgba(0,0,0,0.1);
 
}
.course-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

/* Course Details*/
.course-details{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.course-details h2{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.course-details .delete-course{
  margin-top: 20px;
  background: #34a5d9;
  background-image: -webkit-linear-gradient(top, #34a5d9, #174373);
  background-image: -moz-linear-gradient(top, #34a5d9, #174373);
  background-image: -ms-linear-gradient(top, #34a5d9, #174373);
  background-image: -o-linear-gradient(top, #34a5d9, #174373);
  background-image: linear-gradient(to bottom, #34a5d9, #174373);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 18px 9px 18px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.course-details .delete-course:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
  text-decoration: none;
}

.course-details input{
  border: none;
  box-sizing: border-box;
  width: 100%;
    height: 100%; 
    
}